#chart{
    text-align:center;
}
path {
    fill: none;
    stroke-width: 2px;
}
.tooltip {
    font-family: simsun;
    font-size: 14px;
    width: 120px;
    height: auto;
    color: #fff;
    position: absolute;
    text-align: left;
    border-style: solid;
    border-width: 1px;
    background-color: black;
    border-radius: 5px;
}

.yearly-average-line {
  fill: none;
  stroke: #89868E;
  stroke-dasharray: 8,8;
  stroke-width: 4px;
}

.yearly-average-text {
  text-transform: uppercase;
  text-anchor: start;
  font-size: 12px;
  font-weight: bold;
}
text.title{
  font-size : 1.2em;
  font-weight : bold;
}