p {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 30px;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section._1 {
  height: 100%;
  padding-top: 100px;
  border: 10px none #000;
  background-color: #03f8b3;
  background-image: url('../images/flaunter-RC7bYyG5PUs-unsplash.jpg'), -webkit-gradient(linear, left top, left bottom, from(#000), to(#000));
  background-image: url('../images/flaunter-RC7bYyG5PUs-unsplash.jpg'), linear-gradient(180deg, #000, #000);
  background-position: 50% 50%, 0px 0px;
  background-size: cover, auto;
  background-repeat: no-repeat, repeat;
}

.section._2 {
  height: auto;
  padding-top: 100px;
  padding-bottom: 50px;
  /* background-color: #f8f9fb; */
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.section._3 {
  height: auto;
  padding-top: 100px;
  padding-bottom: 200px;
  /* margin-bottom: 200px; */
  background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
}

.section._4 {
  height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  /* margin-bottom: 100px; */
  background-image: #lightgrey;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

/* new additions */
.mycontainer {
  height: 100%;
  width: 80%;
  margin: 40px;
  padding: 20px;
}

.overlay {
  position: relative;
  width: 400px;
  right: 150px;
  background-color: #fff;
  overflow: hidden;
  border-style: solid;
  border-radius: 8px;
  border-width: 10px;
  border-color: #76ffc1;
  background-color: #fff;
  transition: all 250ms ease-out;
  margin-bottom: 100px;
}

.intro-wrap {
  background: #000000;
  overflow: hidden;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  padding: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.intro-wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.navbar {
  /* background-image: linear-gradient(to right, #434343 0%, black 100%); */
  background: #000000;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 2000;
}

/* new additions */

.heading {
  font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, sans-serif;
  color: #fff;
  font-size: 200px;
  line-height: 100px;
  text-align: left;
  letter-spacing: 10px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 18px #000;
}

.info-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.info-card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-bottom: 50px;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 0;
  -webkit-flex: 0 32%;
  -ms-flex: 0 32%;
  flex: 0 32%;
  border-radius: 8px;
  background-color: #fff;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}

.info-card.card-1 {
  overflow: hidden;
  border-style: solid;
  border-width: 10px;
  border-color: #76ffc1;
  background-color: #fff;
}

.info-card.card-2 {
  border-style: solid;
  border-width: 10px;
  border-color: #45f3ff;
  background-color: #fff;
}

.info-card.card-3 {
  border-style: solid;
  border-width: 10px;
  border-color: #ffef41;
  background-color: #fff;
}

.heading-2 {
  margin-top: 0px;
}

.heading-3 {
  margin-top: 0px;
}

.info-card-heading {
  margin-top: 0px;
  color: #000;
  font-size: 22px;
  text-align: center;
}

.intro-card-heading {
  margin-top: 0px;
  color: #fff;
  font-size: 22px;
  text-align: center;
}

.info-card-snippet {
  color: #000;
  font-size: 13px;
  text-align: center;
}

.intro-card-snippet {
  color: #ffffff;
  font-size: 13px;
  text-align: center;
}

.info-card-icon {
  width: 100%;
  height: 50%;
  margin-bottom: 50px;
}

.pop {
  box-shadow: 0 8px 35px 0 rgba(0, 0, 0, 0.17);
  -webkit-transform: scale3d(1.05, 1.08, 1);
  transform: scale3d(1.05, 1.08, 1);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.trig-2 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 999;
  display: block;
  width: 2px;
  height: 2px;
  margin-top: 1650px;
  background-color: transparent;
}

.trig-3 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 999;
  display: block;
  width: 2px;
  height: 2px;
  margin-top: 2000px;
  background-color: transparent;
}

.robo-sec {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.robo-sec.alt {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.robo-image {
  width: 360px;
}

.robo-info {
  margin-left: 45px;
}

.heading-4 {
  text-align: center;
}

.header-image {
  display: block;
  height: 200px;
  margin-right: auto;
  margin-left: auto;
  border: 10px solid #000;
  border-radius: 3px;
}

.body {
  font-family: Montserrat, sans-serif;
}

.progress-bar {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: none;
  width: 100%;
  height: 10px;
  background-color: #000;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.progress-bar-2 {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: none;
  width: 100%;
  height: 10px;
  background-color: #000;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.progress-bar-3 {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: none;
  width: 100%;
  height: 10px;
  background-color: #000;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.heading-5 {
  color: #ff4781;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}

@media screen and (max-width: 991px) {

  p {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 26px;
  }

  /* extras */
  .mycontainer {
    width: 100%;
  }
  .overlay {
    width: 300px;
    right: 0px;
  }
  /* extras */
  
  .section._2 {
    padding-top: 40px;
  }
  .section._4 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .heading {
    font-size: 200px;
  }
  .info-card-heading {
    text-align: left;
  }
  .intro-card-heading {
    text-align: left;
  }
  .info-card-snippet {
    text-align: left;
  }
  .intro-card-snippet {
    font-size: 11px;
    text-align: left;
  }

  .robo-sec {
    margin-bottom: 100px;
  }
  .info-card {
    margin-bottom: 30px;
    padding: 10px;
  }
  .overlay {
    width: 500px;
    right: 0px;
  }

}


@media screen and (max-width: 767px) {

  p {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 26px;
  }

  /* extras */
  .mycontainer {
    width: 100%;
  }
  .overlay {
    width: 300px;
    right: 0px;
  }
  /* extras */

  .section._2 {
    padding-top: 20px;
  }
  .section._4 {
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .heading {
    font-size: 120px;
    line-height: 60px;
  }
  .info-wrap {
    padding-right: 55px;
    padding-left: 55px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .robo-sec {
    margin-right: 70px;
    margin-bottom: 60px;
    margin-left: 70px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .robo-sec.alt {
    margin-right: 70px;
    margin-left: 70px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .robo-info {
    margin-left: 0px;
  }
  .info-card {
    /* width: 200px; */
    margin-bottom: 30px;
    padding: 10px;
  }
  .intro-wrap {
    padding-right: 55px;
    padding-left: 55px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .intro-card-snippet {
    font-size: 11px;
    text-align: left;
  }
}

@media screen and (max-width: 479px) {

  p {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 26px;
  }

  /* extras */
  .mycontainer {
    width: 100%;
  }
  .overlay {
    width: 300px;
    right: 0px;
  }
  /* extras */
  
  .section._2 {
    padding-top: 20px;
  }

  .section._4 {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .section._3 {
    padding-top: 20px;
  }

  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .heading {
    font-size: 70px;
    line-height: 40px;
  }
  .info-wrap {
    padding-right: 0px;
    padding-left: 0px;
  }
  .robo-sec {
    margin-right: 0px;
    margin-left: 0px;
  }
  .robo-sec.alt {
    margin-right: 0px;
    margin-left: 0px;
  }
  .heading-4 {
    font-size: 34px;
  }
  .heading-5 {
    font-size: 18px;
  }
  .info-card {
    margin-bottom: 30px;
    padding: 10px;
  }
  .intro-wrap {
    padding: 10px;
  }
  .intro-card-snippet {
    font-size: 11px;
    text-align: left;
  }
}

