
not-to-github/.DS_Store
not-to-github/Coursework - Data Viz Group 2.gdoc
not-to-github/Icon
not-to-github/old-files/Airbnb counts linechart1.html
not-to-github/old-files/Airbnb linechart.html
not-to-github/old-files/barchart1.js
not-to-github/old-files/chapter-scroll.js
not-to-github/old-files/data_collection_and_cleaning.ipynb
not-to-github/old-files/data_collection_and_cleaning_0420.ipynb
not-to-github/old-files/data_collection_and_cleaning_uberh3.ipynb
not-to-github/old-files/fashion-week-2019.css
not-to-github/old-files/Icon
not-to-github/old-files/index_mon.html
not-to-github/old-files/index_new.html
not-to-github/old-files/index_old.html
not-to-github/old-files/linechart1.js
not-to-github/old-files/“data_collection_and_cleaning_ipynb_hexv1”.ipynb
not-to-github/old-files/“data_collection_and_cleaning_uberh3_ipynb”.ipynb
not-to-github/screenshots/homepage.png
not-to-github/screenshots/Icon
not-to-github/screenshots/mobile1-ex.png
not-to-github/screenshots/mobile2-ex.png
not-to-github/screenshots/scrollama-ex.png
not-to-github/screenshots/scrollama.png
not-to-github/screenshots/thumbnail.png
not-to-github/videos/.DS_Store
not-to-github/videos/alice-logo.mov
not-to-github/videos/data1.mov
not-to-github/videos/footfall.mov
not-to-github/videos/Icon
not-to-github/videos/IMG_5566_lower.mov
not-to-github/videos/IMG_5568_lower.mov
not-to-github/videos/IMG_5572_lower.mov
not-to-github/videos/IMG_5573_lower.mov
not-to-github/videos/Living city and airbnb_zzz.mp4
not-to-github/videos/scroll_magic.mov
not-to-github/videos/Tianxin.mp4
not-to-github/videos/Untitled.mov
not-to-github/videos/website1.mov
not-to-github/videos/Icon
not-to-github/screenshots/Icon
not-to-github/old-files/Icon
not-to-github/Icon
