p {
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 33px;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section._1 {
  height: 450px;
  background-color: #03f8b3;
  background-image: linear-gradient(159deg, #000000, #df4c02);
}

.section._2 {
  height: auto;
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #f8f9fb;
}

.section._3 {
  height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  padding: 20px;
}

/* important */
.mycontainer {
  height: 100%;
  width: 100%;
  margin: 20px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

.heading {
  color: #fff;
  text-align: center;
}

.info-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.info-card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-bottom: 50px;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 0;
  -webkit-flex: 0 32%;
  -ms-flex: 0 32%;
  flex: 0 32%;
  border-radius: 8px;
  background-color: #fff;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}

.info-card.card-1 {
  overflow: hidden;
  background-color: #76ffc2;
}

.info-card.card-2 {
  background-color: #45f3ff;
}

.info-card.card-3 {
  background-color: #ffef41;
}

.heading-2 {
  margin-top: 0px;
}

.heading-3 {
  margin-top: 0px;
}

.info-card-heading {
  margin-top: 0px;
  color: #000;
  font-size: 22px;
  text-align: center;
}

.info-card-snippet {
  color: #000;
  font-size: 13px;
  text-align: center;
}

.info-card-icon {
  width: 100%;
  margin-bottom: 50px;
}

.pop {
  box-shadow: 0 8px 35px 0 rgba(0, 0, 0, 0.17);
  -webkit-transform: scale3d(1.05, 1.08, 1);
  transform: scale3d(1.05, 1.08, 1);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.trig-2 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 999;
  display: block;
  width: 2px;
  height: 2px;
  margin-top: 1650px;
  background-color: transparent;
}

.trig-3 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 999;
  display: block;
  width: 2px;
  height: 2px;
  margin-top: 2000px;
  background-color: transparent;
}

.robo-sec {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.robo-sec.alt {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.robo-image {
  width: 360px;
}

.robo-info {
  margin-left: 45px;
}

.heading-4 {
  text-align: center;
}

.header-image {
  display: block;
  height: 200px;
  margin-right: auto;
  margin-left: auto;
}

.body {
  font-family: Montserrat, sans-serif;
}

.progress-bar {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: none;
  width: 100%;
  height: 10px;
  background-color: #000;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.progress-bar-2 {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: none;
  width: 100%;
  height: 10px;
  background-color: #000;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.progress-bar-3 {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: none;
  width: 100%;
  height: 10px;
  background-color: #000;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

@media screen and (max-width: 991px) {
  .info-card-heading {
    text-align: left;
  }
  .info-card-snippet {
    text-align: left;
  }
  .robo-sec {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 767px) {
  .info-wrap {
    padding-right: 55px;
    padding-left: 55px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .robo-sec {
    margin-right: 70px;
    margin-bottom: 60px;
    margin-left: 70px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .robo-sec.alt {
    margin-right: 70px;
    margin-left: 70px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .robo-info {
    margin-left: 0px;
  }
}

@media screen and (max-width: 479px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .info-wrap {
    padding-right: 0px;
    padding-left: 0px;
  }
  .robo-sec {
    margin-right: 0px;
    margin-left: 0px;
  }
  .robo-sec.alt {
    margin-right: 0px;
    margin-left: 0px;
  }
  .heading-4 {
    font-size: 34px;
  }
}

